/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: black;
  opacity: 0.95; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; } 


button.mfp-close {
  overflow: visible;
  cursor: pointer;
  color: black;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  box-shadow: none;
  touch-action: manipulation; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.9;
  padding: 0 0 18px 10px;
  color: black;
  background-color: black;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  background-color: black;
  color: black; 
  border-top-width: 21px;
  border-bottom-width: 21px;
  border-left-width: 21px;}


/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  
}
